spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  kafka:
    bootstrap-servers: localhost:9092
  rabbitmq:
    host: ${RABBIT_HOST}
    port: 61613
    username: guest
    password: guest
    listener:
      simple:
        concurrency: 4     # 기본 1
        max-concurrency: 16
        prefetch: 20
  hikari:
    maximum-pool-size: 70
    minimum-idle: 10
    idle-timeout: 600000
    max-lifetime: 1800000
    connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

tosspayments:
  secret-key: test_gsk_docs_OaPz8L5KdmQXkzRz3y47BMw6
  client-key: test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm
  confirm_url: ${TOSS_CONFIRM_URL}
  base_cancel_url: ${TOSS_CANCEL_URL}

fcm:
  service-account-file: key/fdbdproject.json
  topic-name: fdbdMessage
  project-id: fdbdproject

aws:
  s3:
    bucket: ${S3_BUCKET}
    accessKey: ${S3_ACCESS_KEY}
    secretKey: ${S3_SECRET_KEY}

server:
  port: 8080
  address: 0.0.0.0

management:
  endpoints:
    web:
      exposure:
        include: prometheus, health, info

  tracing:
    enabled: true
    sampling:
      probability: 1.0

#  otlp:
#    tracing:
#      endpoint: http://localhost:4318/v1/traces #21 대신 본인 포트로
#      timeout=30000:

logging:
  level:
    org:
      hibernate:
        sql: debug
        type.descriptor.sql.BasicBinder: TRACE
        orm.jdbc.internal.LogicalConnectionImpl: DEBUG
      springframework.orm.jpa: DEBUG
      springframework.transaction: DEBUG
      springframework.web.client.RestTemplate: DEBUG
      com.mudosa.musinsa.common.client: DEBUG
