server:
  tomcat:
    max-connections: 50000
    accept-count: 4096

spring:
  profiles:
    active: dev
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
  kafka:
    bootstrap-servers: localhost:9092
  rabbitmq:
    host: ${RABBIT_HOST}
    port: 61613
    username: guest
    password: guest

  application:
    name: musinsa-server

  jpa:
    properties:
      hibernate:
        format_sql: true

  batch:
    jdbc:
      initialize-schema: never
    job:
      enabled: false

batch:
  settlement:
    chunk-size: 10
    max-skip-count: 100

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    disable-swagger-default-url: true
    display-request-duration: true
    doc-expansion: none
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  show-actuator: false

logging:
  level:
    org.hibernate.sql: debug
    com.mudosa.musinsa.event.service.EventStatusService: INFO

jwt:
  secret: ${JWT_SECRET:this-is-a-secret}
  expiration: ${JWT_ACCESS_EXPIRATION:86400000}    # 24시간 (개발용 기본값)
  refresh-expiration: ${JWT_REFRESH_EXPIRATION:2592000000}  # 30일 (개발용 기본값)


aws:
  s3:
    bucket: ${S3_BUCKET}
    accessKey: ${S3_ACCESS_KEY}
    secretKey: ${S3_SECRET_KEY}

management:
  endpoints:
    web:
      exposure:
        include: prometheus, health, info

  tracing:
    enabled: true
    sampling:
      probability: 1.0

#  otlp:
#    tracing:
#      endpoint: http://localhost:4318/v1/traces #21 대신 본인 포트로