spring:
  profiles:
    active: dev
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
  
  application:
    name: musinsa-server
  
  jpa:
    properties:
      hibernate:
        format_sql: true

  batch:
    jdbc:
      initialize-schema: never
    job:
      enabled: false

batch:
  settlement:
    chunk-size: 10
    max-skip-count: 100

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    disable-swagger-default-url: true
    display-request-duration: true
    doc-expansion: none
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  show-actuator: false

logging:
  level:
    org.hibernate.sql: debug
    com.mudosa.musinsa.event.service.EventStatusService: INFO

jwt:
  secret: ${JWT_SECRET:this-is-a-secret}
  expiration: ${JWT_ACCESS_EXPIRATION:86400000}    # 24시간 (개발용 기본값)
  refresh-expiration: ${JWT_REFRESH_EXPIRATION:2592000000}  # 30일 (개발용 기본값)

server:
  port: ${SERVER_PORT:8080}
